= provide :title, @title

= render 'shared/search', search_path: users_path

%h1= @title

- if params[:search] and @users.empty?
  .not_found No users found
  
- else
  = will_paginate
  %ul.users
    = render @users
  = will_paginate
