= provide :title, @title

= render 'shared/search'

%h1= @title

- if params[:search] and @users.empty?

  .not_found No users found
  
- else

  = will_paginate
  %ul.users
    = render @users
  = will_paginate
