- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user, size: 40
        = @user.name
    %section= render 'shared/stats'
  .span8
    = render 'shared/search', search_path: @user
    = render 'follow_form' if signed_in?
    
    - if @microposts.any?
      %h3= microposts_subtitle(@microposts)
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
      
    - elsif params[:search].present?
      .not_found No microposts found
